1 - import

2 - merge

3 - export

# import

In [11]:
#import libraries
import pandas as pd
import numpy as np
import os 
import pickle

In [12]:
#import data and check shape
path = r'/Users/amritambe/Desktop/CareerF Python/Insta Cart Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'orders_cleaned.csv'))
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'original Data', 'orders_products_prior.csv'))
print(df_ords.shape, df_ords_prior.shape)

(3421083, 9) (32434489, 4)

In [13]:
#check nan
df_ords.isnull().sum(), df_ords_prior.isnull().sum()

(Unnamed: 0.1                    0
 Unnamed: 0                      0
 order_id                        0
 customer_id                     0
 customer_order_number           0
 orders_day_of_week              0
 order_hour_of_day               0
 days_between_last_order    206209
 first_order                     0
 dtype: int64,
 order_id             0
 product_id           0
 add_to_cart_order    0
 reordered            0
 dtype: int64)

In [14]:
#checking data contents
df_ords_prior.head(), df_ords.head()

(   order_id  product_id  add_to_cart_order  reordered
 0         2       33120                  1          1
 1         2       28985                  2          1
 2         2        9327                  3          0
 3         2       45918                  4          1
 4         2       30035                  5          0,
    Unnamed: 0.1  Unnamed: 0  order_id  customer_id  customer_order_number  \
 0             0           0   2539329            1                      1
 1             1           1   2398795            1                      2
 2             2           2    473747            1                      3
 3             3           3   2254736            1                      4
 4             4           4    431534            1                      5

    orders_day_of_week  order_hour_of_day  days_between_last_order  first_order
 0                   2                  8                      NaN         True
 1                   3                  7                     15.0        False
 2                   3                 12                     21.0        False
 3                   4                  7                     29.0        False
 4                   4                 15                     28.0        False  )

In [15]:
#exploring new dataframe: df_ords_prior
df_ords_prior.describe(), df_ords.describe()

(           order_id    product_id  add_to_cart_order     reordered
 count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
 mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
 std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
 min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
 25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
 50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
 75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
 max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00,
        Unnamed: 0.1    Unnamed: 0      order_id   customer_id  \
 count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
 mean   1.710541e+06  1.710541e+06  1.710542e+06  1.029782e+05
 std    9.875817e+05  9.875817e+05  9.875817e+05  5.953372e+04
 min    0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
 25%    8.552705e+05  8.552705e+05  8.552715e+05  5.139400e+04
 50%    1.710541e+06  1.710541e+06  1.710542e+06  1.026890e+05
 75%    2.565812e+06  2.565812e+06  2.565812e+06  1.543850e+05
 max    3.421082e+06  3.421082e+06  3.421083e+06  2.062090e+05

        customer_order_number  orders_day_of_week  order_hour_of_day  \
 count           3.421083e+06        3.421083e+06       3.421083e+06
 mean            1.715486e+01        2.776219e+00       1.345202e+01
 std             1.773316e+01        2.046829e+00       4.226088e+00
 min             1.000000e+00        0.000000e+00       0.000000e+00
 25%             5.000000e+00        1.000000e+00       1.000000e+01
 50%             1.100000e+01        3.000000e+00       1.300000e+01
 75%             2.300000e+01        5.000000e+00       1.600000e+01
 max             1.000000e+02        6.000000e+00       2.300000e+01

        days_between_last_order
 count             3.214874e+06
 mean              1.111484e+01
 std               9.206737e+00
 min               0.000000e+00
 25%               4.000000e+00
 50%               7.000000e+00
 75%               1.500000e+01
 max               3.000000e+01  )

In [25]:
#df_ords and df_ords_prior have the same column: order_id. this will be the column to merge on.

# merge

In [30]:
#merge into new df: df_ords_full
df_ords_full = pd.merge(df_ords, df_ords_prior, how='right', on='order_id', indicator=True)
df_ords_full['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
df_ords_full.shape, df_ords_full.isnull().sum()

((32434489, 13),
 Unnamed: 0.1                     0
 Unnamed: 0                       0
 order_id                         0
 customer_id                      0
 customer_order_number            0
 orders_day_of_week               0
 order_hour_of_day                0
 days_between_last_order    2078068
 first_order                      0
 product_id                       0
 add_to_cart_order                0
 reordered                        0
 _merge                           0
 dtype: int64)

# export

In [19]:
#df_ords_full.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [20]:
df_ords_full.isnull().sum()

Unnamed: 0.1                     0
Unnamed: 0                       0
order_id                         0
customer_id                      0
customer_order_number            0
orders_day_of_week               0
order_hour_of_day                0
days_between_last_order    2078068
first_order                      0
product_id                       0
add_to_cart_order                0
reordered                        0
_merge                           0
dtype: int64