1 - import

2 - merge 

3 - export

# Pickle importing

In [2]:
#import libraries
import pandas as pd
import numpy as np
import pickle
import os

In [5]:
#import data and check shape
path = r'/Users/amritambe/Desktop/CareerF Python/Insta Cart Analysis'
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'prepared Data', 'orders_products_combined.pkl'))
df_combined.shape

(32434489, 13)

In [8]:
#import product_cleaned.csv, inspect the df
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'Product_cleaned.csv'))
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
#checking to see the product_id column is good to merge on
df_prods['product_id'].describe(), df_combined['product_id'].describe()

(count    49693.000000
 mean     24844.345139
 std      14343.717401
 min          1.000000
 25%      12423.000000
 50%      24845.000000
 75%      37265.000000
 max      49688.000000
 Name: product_id, dtype: float64,
 count    3.243449e+07
 mean     2.557634e+04
 std      1.409669e+04
 min      1.000000e+00
 25%      1.353000e+04
 50%      2.525600e+04
 75%      3.793500e+04
 max      4.968800e+04
 Name: product_id, dtype: float64)

# merge

In [35]:
#merging products and the combined orders
#df_combined = df_combined.drop(['_merge'], axis=1)
df_full = pd.merge(df_combined, df_prods, how='inner', on='product_id', indicator=True)

In [38]:
df_full['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [39]:
df_full.shape

(32434212, 18)

# export

In [40]:
#export to pickle
df_full.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))