1 - import

2 - cleaning values

3 - feature binning

4 - analysis of bins

5 - export

# import

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#import files
path = r'/Users/amritambe/Desktop/CareerF Python/Insta Cart Analysis'
df_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Time_Analysis.pkl'))
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,customer_id,customer_order_number,orders_day_of_week,order_hour_of_day,days_between_last_order,first_order,product_id,...,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest Days,busiest_hours_of_day
0,0,0,2539329,1,1,2,8,NaN,True,196,...,0,195,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders
1,1,1,2398795,1,2,3,7,15.0,False,196,...,1,195,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders
2,2,2,473747,1,3,3,12,21.0,False,196,...,1,195,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders
3,3,3,2254736,1,4,4,7,29.0,False,196,...,1,195,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders
4,4,4,431534,1,5,4,15,28.0,False,196,...,1,195,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders

In [4]:
#run check on prices

len(df_ords_merged[df_ords_merged['prices']>100])

5127

In [5]:
# 5,127 entries with > 100 dollar items. this seems suspicious.

# Cleaning Values
We will replace them with null values.

In [6]:
df_ords_merged.isnull().sum()

Unnamed: 0.1                     0
Unnamed: 0_x                     0
order_id                         0
customer_id                      0
customer_order_number            0
orders_day_of_week               0
order_hour_of_day                0
days_between_last_order    2078084
first_order                      0
product_id                       0
add_to_cart_order                0
reordered                        0
Unnamed: 0_y                     0
product_name                 28171
aisle_id                         0
department_id                    0
prices                           0
_merge                           0
price_range_loc                  0
Busiest Days                     0
busiest_hours_of_day             0
dtype: int64

In [7]:
#replace values > 100$ with NaN values

df_ords_merged.loc[df_ords_merged['prices']>100, 'prices'] = np.nan

df_ords_merged['prices'].isnull().sum()

5127

In [8]:
df=df_ords_merged[:1000000]
df.head(), df.shape

(   Unnamed: 0.1  Unnamed: 0_x  order_id  customer_id  customer_order_number  \
 0             0             0   2539329            1                      1
 1             1             1   2398795            1                      2
 2             2             2    473747            1                      3
 3             3             3   2254736            1                      4
 4             4             4    431534            1                      5

    orders_day_of_week  order_hour_of_day  days_between_last_order  \
 0                   2                  8                      NaN
 1                   3                  7                     15.0
 2                   3                 12                     21.0
 3                   4                  7                     29.0
 4                   4                 15                     28.0

    first_order  product_id  ...  reordered  Unnamed: 0_y  product_name  \
 0         True         196  ...          0           195          Soda
 1        False         196  ...          1           195          Soda
 2        False         196  ...          1           195          Soda
 3        False         196  ...          1           195          Soda
 4        False         196  ...          1           195          Soda

   aisle_id  department_id  prices  _merge  price_range_loc  \
 0       77              7     9.0    both  Mid Range Items
 1       77              7     9.0    both  Mid Range Items
 2       77              7     9.0    both  Mid Range Items
 3       77              7     9.0    both  Mid Range Items
 4       77              7     9.0    both  Mid Range Items

          Busiest Days busiest_hours_of_day
 0  Regularly Busy Day       Average_Orders
 1      Least Busy Day       Average_Orders
 2      Least Busy Day          Most_Orders
 3      Least Busy Day       Average_Orders
 4      Least Busy Day          Most_Orders

 [5 rows x 21 columns],
 (1000000, 21))

In [9]:
df.groupby('product_name')

Using .agg() returns a dataframe and allows a dictionary to apply multiple functions at once to the data.

In [10]:
df.groupby('department_id').agg({'customer_order_number' : ['mean']})

              customer_order_number
                               mean
department_id
4                         18.825780
7                         17.472355
13                        17.993423
14                        19.246334
16                        19.463012
17                        11.294069
19                        19.305237
20                        17.599636

Using this direct method returns a series, and is for only a single aggregation function

In [11]:
df.groupby('department_id')['customer_order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: customer_order_number, dtype: float64

Using .agg(), you can apply multiple functions to data using a list as a value for the key column

In [12]:
df.groupby('department_id').agg({'customer_order_number' : ['mean', 'min', 'max']})

              customer_order_number
                               mean min max
department_id
4                         18.825780   1  99
7                         17.472355   1  99
13                        17.993423   1  99
14                        19.246334   1  99
16                        19.463012   1  99
17                        11.294069   1  98
19                        19.305237   1  99
20                        17.599636   1  99

In [13]:
df_ords_merged['max_orders'] = df_ords_merged.groupby('customer_id')['customer_order_number'].transform(np.max)

In [14]:
pd.options.display.max_rows = None
df_ords_merged[['customer_id', 'max_orders']].head(100)

    customer_id  max_orders
0             1          10
1             1          10
2             1          10
3             1          10
4             1          10
5             1          10
6             1          10
7             1          10
8             1          10
9             1          10
10           15          22
11           15          22
12           15          22
13           15          22
14           15          22
15           19           9
16           19           9
17           19           9
18           21          33
19           31          20
20           31          20
21           43          11
22           43          11
23           52          27
24           52          27
25           52          27
26           52          27
27           52          27
28           52          27
29           52          27
30           52          27
31           52          27
32           52          27
33           52          27
34           52          27
35           52          27
36           52          27
37           67          24
38           67          24
39           67          24
40           67          24
41           67          24
42           67          24
43           67          24
44           67          24
45           67          24
46           67          24
47           67          24
48           67          24
49           67          24
50           67          24
51           67          24
52           67          24
53           67          24
54           67          24
55           67          24
56           81           7
57           81           7
58           82          19
59           82          19
60           82          19
61           82          19
62           82          19
63           82          19
64           82          19
65           82          19
66           82          19
67           98          14
68           98          14
69           98          14
70           98          14
71           98          14
72           98          14
73           98          14
74          109           6
75          120           3
76          120           3
77          185           6
78          195          58
79          195          58
80          195          58
81          195          58
82          195          58
83          195          58
84          195          58
85          195          58
86          195          58
87          195          58
88          195          58
89          195          58
90          222          70
91          222          70
92          290          51
93          290          51
94          331           8
95          360           3
96          377           3
97          387           8
98          420          22
99          420          22

# Feature Binning
Create Loyalty Flag Column

In [15]:
df_ords_merged.loc[df_ords_merged['max_orders'] > 40, 'loyalty_flag'] = 'Loyal Customer'
df_ords_merged.loc[df_ords_merged['max_orders'] < 10, 'loyalty_flag'] = 'New Customer'
df_ords_merged.loc[(df_ords_merged['max_orders'] >= 10) & (df_ords_merged['max_orders'] <= 40), 'loyalty_flag'] = 'Regular Customer'

df_ords_merged.head(100)

,Unnamed: 0.1,Unnamed: 0_x,order_id,customer_id,customer_order_number,orders_day_of_week,order_hour_of_day,days_between_last_order,first_order,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest Days,busiest_hours_of_day,max_orders,loyalty_flag
0,0,0,2539329,1,1,2,8,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,10,Regular Customer
1,1,1,2398795,1,2,3,7,15.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,10,Regular Customer
2,2,2,473747,1,3,3,12,21.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,10,Regular Customer
3,3,3,2254736,1,4,4,7,29.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,10,Regular Customer
4,4,4,431534,1,5,4,15,28.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,10,Regular Customer
5,5,5,3367565,1,6,2,7,19.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,10,Regular Customer
6,6,6,550135,1,7,1,9,20.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,10,Regular Customer
7,7,7,3108588,1,8,1,14,14.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,10,Regular Customer
8,8,8,2295261,1,9,1,16,0.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,10,Regular Customer
9,9,9,2550362,1,10,4,8,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,10,Regular Customer
10,144,144,2968173,15,15,1,9,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,22,Regular Customer
11,146,146,1870022,15,17,2,16,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,22,Regular Customer
12,147,147,1911383,15,18,2,11,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,22,Regular Customer
13,150,150,2715276,15,21,1,9,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,22,Regular Customer
14,151,151,487368,15,22,1,10,14.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,22,Regular Customer
15,209,209,2293453,19,2,5,14,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,9,New Customer
16,212,212,1973799,19,5,6,12,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,9,New Customer
17,214,214,532817,19,7,4,17,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,9,New Customer
18,232,232,1573906,21,10,3,10,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,33,Regular Customer
19,458,458,1593000,31,10,3,8,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,20,Regular Customer
20,465,465,2231262,31,17,3,11,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,20,Regular Customer
21,617,617,2580647,43,6,4,16,4.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,11,Regular Customer
22,620,620,2187180,43,9,4,12,3.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,11,Regular Customer
23,751,751,2497897,52,1,1,9,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,27,Regular Customer
24,752,752,1318871,52,2,1,10,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,27,Regular Customer
25,753,753,1261384,52,3,1,10,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,27,Regular Customer
26,755,755,580568,52,5,2,10,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
27,757,757,2428073,52,7,2,7,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,27,Regular Customer
28,759,759,342306,52,9,1,11,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,27,Regular Customer
29,760,760,1520353,52,10,2,10,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
30,761,761,2542086,52,11,2,9,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
31,762,762,944694,52,12,1,16,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,27,Regular Customer
32,765,765,1268191,52,15,2,11,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
33,767,767,1122089,52,17,2,10,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
34,768,768,1498922,52,18,2,10,14.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
35,769,769,180919,52,19,3,8,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,27,Regular Customer
36,771,771,2695875,52,21,5,10,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,27,Regular Customer
37,1022,1022,3205960,67,1,3,11,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,24,Regular Customer
38,1023,1023,970922,67,2,1,15,5.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
39,1024,1024,596585,67,3,1,13,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
40,1025,1025,2037087,67,4,2,9,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,24,Regular Customer
41,1026,1026,2474111,67,5,3,14,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,24,Regular Customer
42,1027,1027,1568481,67,6,3,12,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,24,Regular Customer
43,1029,1029,2048527,67,8,2,11,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,24,Regular Customer
44,1030,1030,2389031,67,9,2,14,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,24,Regular Customer
45,1031,1031,2378562,67,10,1,10,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
46,1032,1032,1515698,67,11,1,11,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
47,1033,1033,1928050,67,12,2,12,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,24,Regular Customer
48,1034,1034,1949274,67,13,1,10,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
49,1035,1035,551869,67,14,1,9,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
50,1037,1037,768572,67,16,4,10,9.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,24,Regular Customer
51,1039,1039,150528,67,18,5,16,4.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,24,Regular Customer
52,1040,1040,29758,67,19,0,14,9.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
53,1042,1042,1558976,67,21,1,9,5.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
54,1043,1043,863974,67,22,1,11,14.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
55,1044,1044,2308399,67,23,1,14,14.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,24,Regular Customer
56,1202,1202,2759128,81,3,1,9,14.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,7,New Customer
57,1204,1204,1812985,81,5,2,20,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,7,New Customer
58,1208,1208,1889835,82,1,3,15,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,19,Regular Customer
59,1210,1210,499460,82,3,5,10,5.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,19,Regular Customer
60,1211,1211,2728456,82,4,0,11,16.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,19,Regular Customer
61,1213,1213,2653743,82,6,4,9,13.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,19,Regular Customer
62,1216,1216,1358880,82,9,1,10,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,19,Regular Customer
63,1217,1217,343588,82,10,2,11,1.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,19,Regular Customer
64,1222,1222,3034663,82,15,2,11,12.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,19,Regular Customer
65,1225,1225,147262,82,18,1,13,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,19,Regular Customer
66,1226,1226,3144004,82,19,2,15,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,19,Regular Customer
67,1480,1480,2126069,98,3,0,9,25.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,14,Regular Customer
68,1484,1484,2210120,98,7,5,14,5.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,14,Regular Customer
69,1486,1486,681011,98,9,3,9,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,14,Regular Customer
70,1488,1488,2846344,98,11,4,13,15.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,14,Regular Customer
71,1489,1489,747431,98,12,6,13,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,14,Regular Customer
72,1490,1490,2383054,98,13,4,11,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,14,Regular Customer
73,1491,1491,1993729,98,14,5,8,8.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,14,Regular Customer
74,1608,1608,1403849,109,3,3,17,9.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,6,New Customer
75,1744,1744,520620,120,1,3,11,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,3,New Customer
76,1746,1746,3273029,120,3,2,8,19.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,3,New Customer
77,2781,2781,1861943,185,2,1,12,25.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,6,New Customer
78,2891,2891,2040988,195,1,1,14,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,58,Loyal Customer
79,2898,2898,1680569,195,8,1,9,4.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,58,Loyal Customer
80,2909,2909,276171,195,19,5,11,3.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,58,Loyal Customer
81,2912,2912,2744976,195,22,5,10,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,58,Loyal Customer
82,2915,2915,2781919,195,25,1,14,4.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Most_Orders,58,Loyal Customer
83,2921,2921,1738718,195,31,2,8,4.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,58,Loyal Customer
84,2924,2924,3058369,195,34,3,10,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,58,Loyal Customer
85,2927,2927,1485596,195,37,2,15,0.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,58,Loyal Customer
86,2930,2930,417035,195,40,3,16,2.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,58,Loyal Customer
87,2937,2937,1615297,195,47,5,10,2.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,58,Loyal Customer
88,2942,2942,1765587,195,52,3,12,2.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,58,Loyal Customer
89,2947,2947,745908,195,57,4,11,3.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,58,Loyal Customer
90,3451,3451,2505656,222,17,2,12,1.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,70,Loyal Customer
91,3472,3472,3268370,222,38,5,15,1.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,70,Loyal Customer
92,4667,4667,2016711,290,9,5,19,6.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,51,Loyal Customer
93,4686,4686,2706088,290,28,6,10,7.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,51,Loyal Customer
94,5551,5551,1952286,331,6,5,16,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,8,New Customer
95,5895,5895,3226575,360,1,5,12,NaN,True,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Most_Orders,3,New Customer
96,6137,6137,1469869,377,3,5,17,3.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,3,New Customer
97,6259,6259,1927023,387,2,4,10,22.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,8,New Customer
98,6740,6740,858092,420,4,1,19,30.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Busiest Day,Average_Orders,22,Regular Customer
99,6741,6741,119314,420,5,3,19,16.0,False,196,...,Soda,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,22,Regular Customer

In [16]:
#printing frequency counts

df_ords_merged['loyalty_flag'].value_counts()

Regular Customer    16664890
Loyal Customer      10293737
New Customer         5475585
Name: loyalty_flag, dtype: int64

In [17]:
df_ords_merged[['customer_id', 'customer_order_number', 'max_orders', 'loyalty_flag']].head(100)

    customer_id  customer_order_number  max_orders      loyalty_flag
0             1                      1          10  Regular Customer
1             1                      2          10  Regular Customer
2             1                      3          10  Regular Customer
3             1                      4          10  Regular Customer
4             1                      5          10  Regular Customer
5             1                      6          10  Regular Customer
6             1                      7          10  Regular Customer
7             1                      8          10  Regular Customer
8             1                      9          10  Regular Customer
9             1                     10          10  Regular Customer
10           15                     15          22  Regular Customer
11           15                     17          22  Regular Customer
12           15                     18          22  Regular Customer
13           15                     21          22  Regular Customer
14           15                     22          22  Regular Customer
15           19                      2           9      New Customer
16           19                      5           9      New Customer
17           19                      7           9      New Customer
18           21                     10          33  Regular Customer
19           31                     10          20  Regular Customer
20           31                     17          20  Regular Customer
21           43                      6          11  Regular Customer
22           43                      9          11  Regular Customer
23           52                      1          27  Regular Customer
24           52                      2          27  Regular Customer
25           52                      3          27  Regular Customer
26           52                      5          27  Regular Customer
27           52                      7          27  Regular Customer
28           52                      9          27  Regular Customer
29           52                     10          27  Regular Customer
30           52                     11          27  Regular Customer
31           52                     12          27  Regular Customer
32           52                     15          27  Regular Customer
33           52                     17          27  Regular Customer
34           52                     18          27  Regular Customer
35           52                     19          27  Regular Customer
36           52                     21          27  Regular Customer
37           67                      1          24  Regular Customer
38           67                      2          24  Regular Customer
39           67                      3          24  Regular Customer
40           67                      4          24  Regular Customer
41           67                      5          24  Regular Customer
42           67                      6          24  Regular Customer
43           67                      8          24  Regular Customer
44           67                      9          24  Regular Customer
45           67                     10          24  Regular Customer
46           67                     11          24  Regular Customer
47           67                     12          24  Regular Customer
48           67                     13          24  Regular Customer
49           67                     14          24  Regular Customer
50           67                     16          24  Regular Customer
51           67                     18          24  Regular Customer
52           67                     19          24  Regular Customer
53           67                     21          24  Regular Customer
54           67                     22          24  Regular Customer
55           67                     23          24  Regular Customer
56           81                      3           7      New Customer
57           81                      5           7      New Customer
58           82                      1          19  Regular Customer
59           82                      3          19  Regular Customer
60           82                      4          19  Regular Customer
61           82                      6          19  Regular Customer
62           82                      9          19  Regular Customer
63           82                     10          19  Regular Customer
64           82                     15          19  Regular Customer
65           82                     18          19  Regular Customer
66           82                     19          19  Regular Customer
67           98                      3          14  Regular Customer
68           98                      7          14  Regular Customer
69           98                      9          14  Regular Customer
70           98                     11          14  Regular Customer
71           98                     12          14  Regular Customer
72           98                     13          14  Regular Customer
73           98                     14          14  Regular Customer
74          109                      3           6      New Customer
75          120                      1           3      New Customer
76          120                      3           3      New Customer
77          185                      2           6      New Customer
78          195                      1          58    Loyal Customer
79          195                      8          58    Loyal Customer
80          195                     19          58    Loyal Customer
81          195                     22          58    Loyal Customer
82          195                     25          58    Loyal Customer
83          195                     31          58    Loyal Customer
84          195                     34          58    Loyal Customer
85          195                     37          58    Loyal Customer
86          195                     40          58    Loyal Customer
87          195                     47          58    Loyal Customer
88          195                     52          58    Loyal Customer
89          195                     57          58    Loyal Customer
90          222                     17          70    Loyal Customer
91          222                     38          70    Loyal Customer
92          290                      9          51    Loyal Customer
93          290                     28          51    Loyal Customer
94          331                      6           8      New Customer
95          360                      1           3      New Customer
96          377                      3           3      New Customer
97          387                      2           8      New Customer
98          420                      4          22  Regular Customer
99          420                      5          22  Regular Customer

find mean of customer_order_number for entire dataset using Groupby

In [18]:
df_ords_merged.groupby('department_id').agg({'customer_order_number' : ['mean', 'min', 'max']})

              customer_order_number
                               mean min max
department_id
1                         15.457687   1  99
2                         17.277920   1  99
3                         17.179756   1  99
4                         17.811403   1  99
5                         15.213779   1  99
6                         16.439806   1  99
7                         17.225773   1  99
8                         15.340520   1  99
9                         15.895474   1  99
10                        20.197148   1  99
11                        16.170828   1  99
12                        15.887622   1  99
13                        16.583304   1  99
14                        16.757377   1  99
15                        16.165037   1  99
16                        17.663250   1  99
17                        15.694469   1  99
18                        19.310397   1  99
19                        17.177343   1  99
20                        16.473447   1  99
21                        22.902379   1  99

The subset of 1,000,000 rows only happened to include 8 of the 21 departments. Also, those the subset did include didn't have sufficient data to get a close approximation of the true mean of the data.

# Analysis of Bins
Analyzing the loyalty_flag

In [19]:
#group by loyalty_flag and find mean of purchase prices

df_ords_merged.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal Customer      7.778434
New Customer        7.804438
Regular Customer    7.803503
Name: prices, dtype: float64

In [20]:
# use .agg to find min, max, mean

df_ords_merged.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal Customer    7.778434  1.0  25.0
New Customer      7.804438  1.0  25.0
Regular Customer  7.803503  1.0  25.0

In [21]:
#99,999$ seems like a wrong price, what is the item
df_ords_merged[df_ords_merged['prices']==99999]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0_x, order_id, customer_id, customer_order_number, orders_day_of_week, order_hour_of_day, days_between_last_order, first_order, product_id, add_to_cart_order, reordered, Unnamed: 0_y, product_name, aisle_id, department_id, prices, _merge, price_range_loc, Busiest Days, busiest_hours_of_day, max_orders, loyalty_flag]
Index: []

[0 rows x 23 columns]

2% milk should not cost $100k, this must be a typo. maybe whole milk but definitely not 2%.

Comparing Customer's Average Spend

In [22]:
#create new column for avg customer spend

df_ords_merged['avg_cust_spend'] = df_ords_merged.groupby('customer_id')['prices'].transform('mean')

In [23]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,customer_id,customer_order_number,orders_day_of_week,order_hour_of_day,days_between_last_order,first_order,product_id,...,aisle_id,department_id,prices,_merge,price_range_loc,Busiest Days,busiest_hours_of_day,max_orders,loyalty_flag,avg_cust_spend
0,0,0,2539329,1,1,2,8,NaN,True,196,...,77,7,9.0,both,Mid Range Items,Regularly Busy Day,Average_Orders,10,Regular Customer,6.367797
1,1,1,2398795,1,2,3,7,15.0,False,196,...,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,10,Regular Customer,6.367797
2,2,2,473747,1,3,3,12,21.0,False,196,...,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,10,Regular Customer,6.367797
3,3,3,2254736,1,4,4,7,29.0,False,196,...,77,7,9.0,both,Mid Range Items,Least Busy Day,Average_Orders,10,Regular Customer,6.367797
4,4,4,431534,1,5,4,15,28.0,False,196,...,77,7,9.0,both,Mid Range Items,Least Busy Day,Most_Orders,10,Regular Customer,6.367797

In [24]:
#create new flag column for customer spend

df_ords_merged.loc[df_ords_merged['avg_cust_spend'] < 10, 'Customer_Spend'] = 'Low Spender'
df_ords_merged.loc[df_ords_merged['avg_cust_spend'] >= 10, 'Customer_Spend'] = 'High Spender'

In [25]:
df_ords_merged['Customer_Spend'].value_counts()

Low Spender     32313492
High Spender      120720
Name: Customer_Spend, dtype: int64

Comparing Customer's Order Frequency

In [26]:
#create new column with median time between orders for each customer id

df_ords_merged['median_order_frequency'] = df_ords_merged.groupby('customer_id')['days_between_last_order'].transform('median')

In [27]:
df_ords_merged.loc[df_ords_merged['median_order_frequency'] > 20, 'Order_Frequency'] = 'Non-Frequent Spender'
df_ords_merged.loc[(df_ords_merged['median_order_frequency'] <= 20) & (df_ords_merged['median_order_frequency'] >= 10), 'Order_Frequency'] = 'Regular Spender'
df_ords_merged.loc[df_ords_merged['median_order_frequency'] < 10, 'Order_Frequency'] = 'Frequent Spender'

In [28]:
#checking new frequency columns
df_ords_merged['Order_Frequency'].value_counts()

Frequent Spender        20304018
Regular Spender          8490525
Non-Frequent Spender     3639669
Name: Order_Frequency, dtype: int64

# export

In [29]:
#export df to pickle
df_ords_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Grouped_Customer.pkl'))